@use '../resets';

.acknowledgement {
	margin-bottom: 4em;
	padding: 4em 0;

	.container {
		@include resets.breakpoints();

		.text-area {
			margin-bottom: 3em;

			.heading {
				font-size: 2rem;
				font-weight: 700;
				margin: 0 auto 0.6em;
				@include resets.poppins();

				@include resets.text-gradient();
				width: fit-content;
			}

			.subtext {
				@include resets.poppins();
				// color: resets.$grey;
				color: transparent;
				font-size: 2rem;
				font-weight: 400;
				margin-bottom: 0.7em;
				text-align: center;
				@include resets.text-gradient();
				line-height: 1.3;

				@media screen and (min-width: 43em) {
				}

				@media screen and (min-width: 62em) {
					width: 80%;
					margin: 0 auto;
				}
			}
		}

		.flag-wrap {
			// width: 90%;
			margin: 0 auto;
			height: 400px;

			.flag {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			@media screen and (min-width: 43em) {
			}

			@media screen and (min-width: 62em) {
				width: 60%;
			}
		}
	}
}
