@use '../resets';

.hero-section {
	// margin-bottom: 7em;

	.container {
		@include resets.breakpoints();
		margin-bottom: 1em;

		display: grid;
		gap: 1em;

		.wrap {
			height: 500px;
			width: 100%;
			border-radius: 20px;
			position: relative;

			&:nth-child(1) {
				background: resets.$background;
				width: 100%;

				display: flex;
				align-items: center;
				justify-content: center;

				.main-content {
					width: 80%;
					text-align: center;

					.masthead {
						@include resets.poppins();
						text-transform: capitalize;
					}

					.btn {
						margin: 1em auto 0;

						align-items: center;
						@include resets.btn();
					}
				}
			}

			&:nth-child(2) {
				overflow: hidden;

				.brow-item {
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;

					.icon {
						@include resets.brow-highlight-icon();
					}

					.text {
						@include resets.brow-highlight-text();
					}
				}

				.item1 {
					left: 40%;
					top: 80%;
				}

				.item2 {
					left: 10%;
					top: 45%;
				}

				.item3 {
					left: 70%;
					top: 20%;
				}

				.item4 {
					left: 20%;
					top: 5%;
				}
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;

			.wrap {
				&:nth-child(1) {
					width: 100%;
				}

				&:nth-child(2) {
					width: 100%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}

	.frontdesk-wrap {
		height: 450px;
		width: 100%;
		position: relative;

		.fd-img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		&::after {
			content: '';
			position: absolute;
			background: rgba(0, 0, 0, 0.541);
			inset: 0;
		}

		&__btn-wrap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;

			.heading {
				color: #fff;
				font-size: 2rem;
				font-weight: 700;
				margin-bottom: 0.5em;
				@include resets.poppins();
				background: linear-gradient(90deg, #c894e8 0%, #7575fe 100%);
				background-clip: text;
				-webkit-background-clip: text;
			}

			.call-btn {
				@include resets.btn();
				width: 200px;
				margin: 0 auto;
				align-items: center;
				justify-content: center;
				background: #5353cf !important;
			}
		}
	}
}
