@use '../resets';

.team {
	// background: #cbd7fa;
	background: #323232;
	margin-bottom: 5em;
	// display: none;

	.container {
		padding-top: 6em;
		padding-bottom: 7em;

		.text-area {
			text-align: center;
			margin-bottom: 5em;

			.heading {
				font-size: 2rem;
				font-weight: 700;
				margin: 0 auto 0.3em;
				@include resets.poppins();

				@include resets.text-gradient();

				width: fit-content;
				// @include resets.goldText();
				color: #fff;
			}

			.subtext {
				width: fit-content;
				margin: 0 auto;
				@include resets.poppins();
				font-weight: 500;
				// background: linear-gradient(90deg, #bb8946, #caa25c, #edd98d, #f2f2a4);

				// background-clip: text;
				// -webkit-background-clip: text;
				// color: transparent;]
				color: #fff;
			}

			@media screen and (min-width: 43em) {
			}

			@media screen and (min-width: 62em) {
				.subtext {
					width: 45%;
				}
			}
		}

		.team-wrap {
			// overflow-x: hidden;
			// padding-left: 20px;

			.swiper-wrapper {
				padding-left: 2em;

				.swiper-slide {
					width: 350px;
					height: 400px;
					position: relative;
					// overflow: hidden;
					background: #fff;

					@media screen and (min-width: 43em) {
					}

					&::after {
						content: '';
						position: absolute;
						background: linear-gradient(
							180deg,
							rgba(0, 0, 0, 0.062) 50%,
							rgb(0, 0, 0) 100%
						);
						inset: 0;
					}

					img {
						height: 100%;
						width: 100%;
						object-fit: contain;
						object-fit: cover;
						object-position: top;
					}

					.text-wrap {
						position: absolute;
						z-index: 1;
						display: grid;
						gap: 0.4em;
						bottom: 10%;
						left: 10%;

						.wrap {
							.name {
								width: fit-content;
								box-shadow: resets.$shadow;
								position: relative;
								font-weight: 700;
								width: fit-content;
								color: #fff;
								font-size: 1.2rem;
							}
						}

						.text {
							border-radius: 20px;
							width: fit-content;
							box-shadow: resets.$shadow;
							color: #fff;
							font-size: 0.9rem;
							padding: 0.5em 1em;
							background: linear-gradient(
								90deg,
								#bb8946,
								#caa25c,
								#edd98d,
								#f2f2a4
							);
							color: #000;
							font-weight: 500;
						}
					}
				}
			}

			@media screen and (min-width: 43em) {
			}

			@media screen and (min-width: 62em) {
				// width: 400px;

				.swiper-wrapper {
					.swiper-slide {
						width: 350px;
					}
				}
			}
		}
	}
}
