@use '../resets';

.header-navbar {
	// background: red;
	padding: 1em 0;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	transition: all 700ms ease-in-out;
	// overflow: hidden;

	.nav {
		@include resets.breakpoints();

		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

		&__logo {
			.nav__logo-link {
				img {
					// width: 200px;
				}
			}
		}

		&__links {
			// display: none;

			width: 70%;
			position: absolute;
			top: 115%;
			background: linear-gradient(to right, #bb8a48, #cd9e53, #dcc178, #e8d9a0);
			display: grid;
			gap: 1em;
			place-content: center;
			padding: 3em 2em;
			border-radius: 20px;
			transition: all 500ms ease-in;
			opacity: 0;
			visibility: hidden;

			.wrap {
				display: grid;
				gap: 1em;
				place-content: center;

				.nav__link {
					text-align: center;

					a {
						background: resets.$highlight;
						padding: 13px;
						border-radius: 40px;
						@include resets.poppins();
						color: resets.$grey;
						text-transform: capitalize;
						display: inline-block;
					}
				}
			}

			.nav__appointment {
				.btn {
					@include resets.btn();
				}
			}
		}

		.hamburger {
			.menu-btn {
				background: #323232;
				border: none;
				cursor: pointer;
				height: 50px;
				width: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 8px;

				i {
					font-size: 18px;
					@include resets.goldText();
				}
			}
		}

		@media screen and (min-width: 43em) {
			&__links {
				width: 50%;
			}
		}

		@media screen and (min-width: 62em) {
			// background: teal;

			&__links {
				display: flex;
				align-items: center;
				justify-content: space-between;

				position: unset !important;
				padding: unset;
				background: transparent;
				opacity: 1;
				visibility: visible;
				width: 70%;

				.wrap {
					display: flex;
				}
			}

			.hamburger {
				display: none;
			}
		}
	}
}

.move-navbar {
	transform: translateY(10%);
	transition: all 700ms ease-in-out;
}

.fixed-navbar {
	background: rgba(255, 255, 255, 0.363);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: resets.$shadow;
	transition: all 700ms ease-in-out;
	width: 90%;
	left: 5%;
	border-radius: 50px;

	.nav {
		&__links {
			.wrap {
				.nav__link {
					a {
						box-shadow: resets.$shadow;
					}
				}
			}
		}
	}
}

.show-mobile-nav {
	display: block;
	position: absolute !important;
	top: 125% !important;
	right: 0;
	opacity: 1 !important;

	visibility: visible !important;
}
