@use '../resets';

.about-main {
	margin-bottom: 8em;
	overflow: hidden;

	.container {
		background: resets.$background;
		border-radius: resets.$radius;
		width: 90%;
		margin: 0 auto 4em;

		display: grid;
		grid-template-areas: 'about-hero-img' 'text-area';

		.text-area {
			padding: 2em;
			grid-area: text-area;

			.highlight-brow {
				@include resets.brow-highlight();
				margin-bottom: 1em;

				&::after {
					all: unset;
				}
			}

			.heading {
				margin-bottom: 1em;
			}

			.wrap {
				display: grid;
				gap: 1em;

				.text {
					line-height: 1.9;
					font-size: 15px;
					@include resets.poppins();
					color: #000;
					font-weight: 500;
				}
			}
		}

		.about-hero-img {
			height: 300px;
			width: 100%;
			// background: teal;
			grid-area: about-hero-img;

			.img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px;
			}
		}

		@media screen and (min-width: 43em) {
			.text-area {
				width: 600px;
				margin: 0 auto;
			}
		}

		@media screen and (min-width: 62em) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: 'text-area about-hero-img';
			gap: 4em;
			place-items: center;

			.text-area {
				width: unset;
				grid-area: text-area;
			}

			.about-hero-img {
				grid-area: about-hero-img;
				height: 100%;
			}
		}
	}

	.showcase-section {
		// background: orange;

		.swiper-wrapper {
			.swiper-slide {
				height: 350px;
				width: 300px;

				// border-radius: 20px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					// box-shadow: resets.$shadow;
					border-radius: 30px;
					box-shadow: resets.$shadow;
				}
			}
		}
	}
}
