@use '../resets';

.more-info-section {
	// background: teal;
	margin-bottom: 7em;

	.container {
		.wrapper1 {
			@include resets.breakpoints();
			margin-bottom: 5em;

			.brow-highlight {
				@include resets.brow-highlight();
				margin: 0 auto;
				// background: teal;
				margin-bottom: 1em;

				.text {
					width: fit-content;
				}

				&::after {
					display: none;
				}
			}

			.wrap {
				// background: teal;
				// display: none;

				.text {
					@include resets.poppins();
					color: transparent;
					font-size: 2rem;
					font-weight: 400;
					margin-bottom: 0.7em;
					text-align: center;

					@include resets.text-gradient();
				}
			}

			@media screen and (min-width: 43em) {
			}

			@media screen and (min-width: 62em) {
				.text {
					// width: 75%;
					margin: 0 auto;
				}
			}
		}

		.wrap {
			display: grid;
			gap: 2em;
			width: 90%;
			margin: 0 auto;
			// background: teal;

			.wrapper2,
			.wrapper3 {
				background: #323232;
				border-radius: 20px;
				width: 100%;
				padding: 2em;

				.brow-highlight {
					@include resets.brow-highlight();
					margin: 0 auto 1em;

					.text {
						color: #fff;
					}

					&::after {
						display: none;
					}
				}

				.heading {
					color: transparent;
					background: linear-gradient(
						90deg,
						#bb8946,
						#caa25c,
						#edd98d,
						#f2f2a4
					);

					background-clip: text;
					-webkit-background-clip: text;
					text-align: center;
					margin-bottom: 0.5em;
				}

				.subtext {
					color: #fff;
					text-align: center;
				}
			}

			@media screen and (min-width: 43em) {
				display: flex;
				gap: 1em;
			}

			@media screen and (min-width: 62em) {
				display: grid;
				width: 60%;

				.wrapper2,
				.wrapper3 {
					width: 80%;
					margin: 0 auto;
					padding: 3em 5em;
				}
			}
		}
	}
}
